.menu_section {
    position: sticky !important;
    top: 0;
    padding: 10px 0
}


.header_contact {
    height: 350px;
    background: linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

    .header_contact h1 {
        text-align: center;
        font-size: 45px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

.project_detail_content .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.project_detail_content .project_detail_p {
    color: #808080;
    font-size: 15px;
}

.project_detail_p_italic {
    font-style: italic;
    color: #444;
    font-size: 14px;
    font-weight: 600
}

.list_item {
    margin-bottom: 10px;
}

    .list_item label {
        font-weight: 600
    }

    .list_item span {
        color: #444;
    }

.img_wrapper {
    height: 450px;
    width: 100%;
    background: url(/images/projects/project8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

    .img_wrapper img, .img_wrapper_little img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }

.img_wrapper_little {
    height: 410px;
    width: 100%
}

.inner_col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding:0 42px
}

.list {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
   
    padding: 0 54px;
}
.list_item {
    width:100%
}